<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Products</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <a href="javascript:void(0);" class="btn btn-danger mb-2 js-add-product"><i
                                    class="mdi mdi-plus-circle me-2"></i> Add Products</a>
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            Display
                            <Select class="form-select" style="width: auto;display:inline-block;">
                                <option value="">ALL</option>
                                <option value="">5</option>
                                <option value="">10</option>
                                <option value="">20</option>
                            </Select>
                            products
                        </div>
                        <div class="col-sm-3">
                            Category
                            <Select class="form-select" style="width: auto;display:inline-block;">
                                <option value="">ALL</option>
                                <option value="">Chair</option>
                                <option value="">Table</option>
                            </Select>
                        </div>
                        <div class="col-sm-6" style="float: right;">
                            <input id="search" type="search" placeholder="Search" class="form-control"
                                style="width: auto;float: right; ">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                            <thead class="table-light">
                                <tr>
                                    <th>STT</th>
                                    <th class="all">Product</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th style="width: 115px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i=0;i< items.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= i+1 %>
                                        </td>
                                        <td>
                                            <img src="assets/uploads/<%= items[i].Image %>" alt="contact-img"
                                                title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="apps-ecommerce-products-details.html" class="text-body">
                                                    <%= items[i].Name %>
                                                </a>
                                            </p>
                                        </td>
                                        <td>
                                            <%= items[i].idType %>
                                        </td>
                                        <td>
                                            <%= items[i].Price %>
                                        </td>

                                        <td>
                                            <%= items[i].Quantity %>
                                        </td>
                                        <td>
                                            <span class="badge bg-success">Active</span>
                                        </td>

                                        <td class="table-action">
                                            <a href="javascript:void(0);" id="<%= items[i]._id %>" class="action-icon">
                                                <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" id="<%= items[i]._id %>"
                                                class="action-icon js-edit"> <i
                                                    class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" id="<%= items[i]._id %>" class="action-icon">
                                                <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pagination-rounded" style="float: right;">
                        <li class="paginate_button page-item previous" id="products-datatable_previous"><a href="#"
                                aria-controls="products-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i
                                    class="mdi mdi-chevron-left"></i></a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="products-datatable"
                                data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="products-datatable"
                                data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="products-datatable"
                                data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                        <li class="paginate_button page-item next disabled" id="products-datatable_next"><a href="#"
                                aria-controls="products-datatable" data-dt-idx="4" tabindex="0" class="page-link"><i
                                    class="mdi mdi-chevron-right"></i></a></li>
                    </ul>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>

    <form action="/product/create" method="post" enctype="multipart/form-data">
        <dialog id="create">
            <div class="modal-container">
                <div class="modal-close js-modal-close" style="width: 20px;height: 20px; display: inline-block;">
                    <i class="mdi mdi-close"></i>
                </div>
                <header class="modal-label">
                    Thêm sản phẩm
                </header>
                <div>
                    <label class="modal-label">
                        Tên sản phẩm
                    </label>
                    <input type="text" name="NameProduct" class="form-control">
                    <br>
                    <label class="modal-label">
                        Loại sản phẩm
                    </label>
                    <select name="" id="" class="form-select">
                        <option value="0">Chair</option>
                        <option value="1">Table</option>
                    </select>
                    <br>
                    <label class="modal-label">
                        Giá
                    </label>
                    <input type="number" name="PriceProduct" class="form-control">
                    <input type="file" class="custom-file-input" id="customFile" accept="image/*" name="productImage">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <button type="submit" class="btn btn-primary">Luu</button>
            </div>
        </dialog>
    </form>
    <form id="form-edit-product" action="">
        <dialog id="edit">
            <div class="modal-container">
                <div class="modal-close js-modal-close" style="width: 20px;height: 20px; display: inline-block;">
                    <i class="mdi mdi-close"></i>
                </div>
                <header class="modal-label">
                    Thêm sản phẩm
                </header>
                <div>
                    <label class="modal-label">
                        Tên sản phẩm
                    </label>
                    <input type="text" name="NameProduct" class="form-control">
                    <br>
                    <label class="modal-label">
                        Loại sản phẩm
                    </label>
                    <select name="" id="" class="form-select">
                        <option value="0">Chair</option>
                        <option value="1">Table</option>
                    </select>
                    <br>
                    <label class="modal-label">
                        Giá
                    </label>
                    <input type="number" name="PriceProduct" class="form-control">
                    <input type="file" class="custom-file-input" id="customFile" accept="image/*" name="productImage">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <button type="submit" class="btn btn-primary">Luu</button>
            </div>
        </dialog>
    </form>
    <!--set up-->
    <script>
        const btn_edits = document.querySelectorAll('.js-edit');
        function setup(id) {
            const form_edit = getElementById('form-edit-product');
            form_edit.action = '/product/' + id + '?_method=PUT';
            $.ajax({
                url: '/product/view/' + id,
                method: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    form_edit.elements['NameProduct'].value= data.Name;
                    form_edit.elements['productImage'].value= data.Image;
                    form_edit.elements['PriceProduct'].value= data.Price;
                }
            })
            form_edit.showModal();
        }
        for (var btn_edit of btn_edit) {
            btn_edit.addEventListener('click', setup(btn_edit.id))
        }
    </script>

    <script>
        const modal = document.getElementById('create');
        const a = document.querySelector('.js-add-product');
        const closee = document.querySelector('.js-modal-close');
        function show() {
            modal.showModal();
        }
        function hide() {
            modal.close();
        }
        a.addEventListener('click', show);
        closee.addEventListener('click', hide);
    </script>
    <!--Edit-->
    <script>

    </script>
</div> <!-- container -->